services:
  windows:
    image: dockurr/windows
    container_name: windows
    environment:
     VERSION: "11"
   DISK_SIZE: "8TB"   # main system disk, becomes Drive C:
      MEMORY: "1024G"    # optional: allocate 1TB RAM
   ARGUMENTS: "-device usb-host,vendorid=0x1234,productid=0x1234"
      MANUAL: "Y"     # optional: allocate 1TB RAM
     
                       
   
    
    
    devices:
      - /dev/kvm
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    ports:
      - 8006:8006
      - 3389:3389/tcp
      - 3389:3389/udp
    volumes:
      - ./windows:/storage   # disk.qcow2 lives here
    restart: always
    stop_grace_period: 2m
